
@import "reset";




.cassette {
	position: relative;
	background: url(images/tape2.svg);
	background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    padding: 0;
    margin: 0;

}

.results {
	// position: fixed;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 25%;
	padding-top: 3%;
	// border: dotted red;
	color: red;
	a {
		color: yellow;
		text-shadow: 3px 3px 3px black;
		font-family: cursive;
		font-weight: 200;
		text-decoration: none;
		li {
			list-style: none;
			font-size: 1.5em;
			text-align: center;
			line-height: 1.5em;


		}
	}
}


.band {
	width:50%;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 1%;
	h1 {
		color: yellow;
		font-weight: 200;
		text-align: center;
		text-shadow: 1px 1px 1px white;
	}
}

.input {
	margin-left: 40%;
	margin-right: 40%;
	padding-top: 1%;

	input {
		width: 100%;
	}
}


.button {
	padding-top: 2%;
	margin-left: 40%;
	margin-right: 40%;
	button {
		width: 100%;
	}
}


.title {
	margin-top: -4%;
	margin-left: 20%;
	margin-right: 20%;
	h3 {
		color: yellow;
		font-weight: 200;
		font-size: 7em;
		text-align: center;
		text-shadow: 2px 2px 3px white;
	}
}